@import "bootstrap/dist/css/bootstrap.min.css";

body {
  min-height: 100vh;
  background: #f8f9fa;
  color: #212529;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.employee-list {
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
}

.form-body {
  max-height: calc(100vh - 13rem);
  overflow-y: auto;
}

